<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="post" >
            <input type="text" title="Enter fiverr search url" name="source_url" placeholder="url"/>
            <button>Get data</button>
          </form>
        </div>
            <p>
                <button><a href="{{url_for('download_csv')}}">Download as csv</a></button>
                <button><a href="{{url_for('download_json')}}">Download as Json</a></button>
            </p>
      </div>


</body>
</html>