<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="post" >
            <input type="text" name="source_url" placeholder="url"/>
            <button>Get data</button>
          </form>
        </div>
      </div>
</body>
</html>
